.skills{
    margin: 5rem 0;
}
.skills h1{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}
.skillsBtn{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.btn{
    font-size: 1rem;
    background-color: teal;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
}
