.btn{
    font-size: 1rem;
    background-color: #32CD32;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 10px 15px;
}
.projectcard{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding: 0.5rem 0;
}
.left h1{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.buttons{
    display: flex;
    justify-content: flex-start;
    gap: 0.75rem;
    flex-wrap: wrap;
}
.right{
    width: 50%;
}
.right:hover img{
    transform: translateY(-10px);
    box-shadow:  -11px -11px 22px rgba(0, 0, 0, 0.2),
    11px 11px 22px rgba(0, 0, 0, 0.2);}
.right a img{
    width: 100%;
    border-radius: 1rem;
    aspect-ratio: inherit;
    transition: 0.3s ease;

}

@media screen and (max-width:1200px) {
    .projectcard{
        flex-direction: column-reverse;
    }
    .left{
        width: 100%;
    }
    .left h1{
        font-size:2rem;
    }
    .right{
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .left h1{
        font-size:1.25rem;
    }
    .buttons{
        gap: 0.20rem;
    }
    .btn{
       scale: 0.8;
    }
}
