.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 2rem;
}
.img{
    box-shadow: #32CD32 -5px -5px;
    position: relative;
    top: -5rem;
    width: 40%;
    border-radius: 21px 21px 3px 21px;
}
@media screen and (max-width:1300px) {
    .home{
        flex-direction: column;
        justify-content: center;
        gap: 0;
        padding: 1rem;
        margin-bottom: 2.5rem;
    }
    .img{
        top: 0;
        margin-bottom: 2rem;
        width: 60%;
    }
}
@media screen and (max-width:1000px) {
    .img{
        width: 70%;
    }
}
@media screen and (max-width:500px) {
    .img{
        width: 90%;
    }
}
