.paragraph{
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: #656565;
    margin-bottom: 0.5rem;
    line-height: 1.75rem;
}
@media screen and (max-width:700px) {
    .paragraph{
        font-size: 1rem;
    }
}