.app{
    display: flex;
}
.routes{
    padding: 7.5rem;
    padding-left: 20rem;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:1200px) {
    .routes{
        padding: 5rem;
        padding-left: 15rem;
    }
}
@media screen and (max-width:800px) {
    .routes{
        padding: 2rem;
    }
}
@media screen and (max-width:500px) {
    .routes{
        padding: 1rem;
    }
}
